<p style="color: green"><%= notice %></p>

<h1 class="text-center">Foods</h1>

<p class = "text-right mr-5"><%= link_to "Add food", new_food_path %><p>

<div id="foods">
  
    <%= render "food" %>
  
</div>


